@import "./../../sass/variables";

.homepage {
	margin-bottom: 1.5rem;

	.welcome {
		margin-bottom: 2.5rem;

		.welcome__title {
			@include fluid-title-h1;
			color: $duck;
		}
	}

	.donate__title {
		@include fluid-title-h1;
		color: $duck;
	}

	.donate {
		margin-bottom: 1.5rem;
	}
}
