@import "./../../sass/variables";

.forgot--password {
   display: flex;
   justify-content: center;

   .forgot--password-frame {
      @include frame-border;
      width: max-content;

      h1 {
         @include fluid-title-h1;
      }
   }
}
