@import "./../../sass/variables";

.about-page {
   margin-bottom: 1.5rem;
   .about-hero-image {
      @include hero-image-container-fluid;
   }
   h1 {
      @include fluid-title-h1;
   }

   .other-activities {
      p {
         margin-bottom: 0.5rem;
         font-weight: 800;
      }
      ul {
         margin-left: 2rem;
      }
   }

   .bureau h1 {
      margin-bottom: 2rem;
   }
}
