@import "./../../sass/variables";

.card {
    background-color: $gray-blue;
    margin-bottom: 2rem;
    padding: 0 15px;
    border: none;

    .card-inner {
        background-color: white;
        overflow: hidden;

        .card__image {
            width: 100%;
            height: calc(200px + (250 - 200) * ((100vw - 320px) / (1400 - 320)));
            background-position: center;
            background-size: cover;
            margin-bottom: 1.5rem;
            @include gray-blue-shadow;
        }

        .card__body {
            padding: 0 15px;

            .body__title {
                color: $gray-anthracite;
            }
            .body__read-more {
                padding-bottom: 1.5rem;

                a {
                    text-decoration: none;
                    color: darken($color: $gray-blue, $amount: 20%);
                    font-family: $font-text;
                    font-weight: 700;
                    font-size: 18px;

                    &:hover {
                        color: $blue;
                    }
                }
            }
            .read-more {
                display: none; /* from WP API excerpt */
            }
        }

        .card__footer {
            background-color: $gray-blue;
            padding: 0 15px;
            .footer__author-date {
                display: flex;
                justify-content: space-between;
                color: white;
            }
        }
    }
}
