@import "./../../../sass/variables";

.articles {
	background-color: $gray-blue;

	.articles__intro {
		color: white;
		h1 {
			@include fluid-title-h1;
			padding-top: 2rem;
		}
		p {
			margin-bottom: 2rem;
		}
	}
}
