@import "./sass/variables";

/*-------------------------------------
Bootstrap
-------------------------------------*/
.container-fluid {
	padding: 0;
}

/*-------------------------------------
General
-------------------------------------*/
.header-sticky {
	height: 70px;
}

.container {
	max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-title;
}

p,
pre,
span,
label,
input {
	font-family: $font-text;
}

.app-afvp {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	padding-top: $header-height;
	overflow: auto;

	.header-sticky {
		flex-shrink: 0;
	}

	.footer {
		margin-top: auto;
	}
}
