@import "./../../sass/variables";

.welcome {
    margin-bottom: 2.5rem;

    .welcome__title {
        @include fluid-title-h1;
        color: $duck;
    }
}

.donate__title {
    @include fluid-title-h1;
    color: $duck;
}
